<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sleepAnswer %><br>
    <%= f.number_field :sleepAnswer %>
  </div>
  <div class="field">
    <%= f.label :mealsAnswer %><br>
    <%= f.number_field :mealsAnswer %>
  </div>
  <div class="field">
    <%= f.label :fruitAndVegAnswer %><br>
    <%= f.number_field :fruitAndVegAnswer %>
  </div>
  <div class="field">
    <%= f.label :stressAnswer %><br>
    <%= f.number_field :stressAnswer %>
  </div>
  <div class="field">
    <%= f.label :bibleAnswer %><br>
    <%= f.number_field :bibleAnswer %>
  </div>
  <div class="field">
    <%= f.label :prayerAnswer %><br>
    <%= f.number_field :prayerAnswer %>
  </div>
  <div class="field">
    <%= f.label :exerciseAnswer %><br>
    <%= f.number_field :exerciseAnswer %>
  </div>
  <div class="field">
    <%= f.label :goalsAnswer %><br>
    <%= f.number_field :goalsAnswer %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>