<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>
    <%= form_for @user, url: login_path(@user) do |f| %>
      <%= f.text_field :userName, :placeholder => "User Name" %>
      <%= f.text_field :firstName, :placeholder => "First name" %>
      <%= f.text_field :lastName, :placeholder => "Last name" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>

    </div>
  </div>
</div>
