<%= for_for( @todo, remote: true ) do |f| %>
    <ul>
        <li>
            <div>
                <%= f.label :name %>
            </div>
            <br>
            <div>
                <%= f.text_field :name %>
            </div>
        </li>
        <li>
            <div>
                <%= f.label :course %>
            </div>
            <br>
            <div>
                <%= f.text_field :course %>
            </div>
        </li>
        <li>
            <div>
                <%= f.label :dueDate %>
            </div>
            <br>
            <div>
                <%= f.datetimepicker :dueDate %>
            </div>
        </li>
        <li>
            <div>
                <%= f.label :estTime %>
            </div>
            <br>
            <div>
                <%= f.number_field :estTime %>
            </div>
        </li>
        <li>
            <div>
                <%= f.label :description %>
            </div>
            <br>
            <div>
                <%= f.text_area :description %>
            </div>
        </li>
        <li>
            <div>
                <%= f.label :priority %>
            </div>
            <br>
            <div>
                <%= f.number_field( in: 1...100, step: 1 ) %>
            </div>
        </li>
    </ul>
<% end %>
